nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.search{
    width: 25%;
}

input{
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #646cff;
    font-size: 1em;
    outline: none;
}

/* body {
  background-image: url(../src/assets/img/mae-mu-YNMjGIPgD_c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgba(7,7,7,0.3);
}

div {
  background-color: rgba(235,235,235,0.3);
} */